@use "../partials/index" as p;

main {
	.cta {
		.container {
			.cta__card {
				background-color: p.$bg-misty-rose;
				padding: 60px 20px;
				text-align: center;
				border-radius: p.$radius-30;
				.img {
					display: inline-block;
					margin-block-end: 20px;
				}
				.section__title {
					margin-inline: 20px;
				}
				.btn {
					margin-block-start: 20px;
				}
			}
		}
	}
}
